@model IEnumerable<WebConsumer.Models.TournamentDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Turnerings ID
            </th>
            <th>
                Turnerings navn
            </th>
            <th>
                Afholdelses tidspunkt
            </th>
            <th>
                Tilmeldingsfrist
            </th>
            <th>
                Tilmeldte
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TournamentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TournamentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfEvent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDeadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnrolledParticipants)
                /
                @Html.DisplayFor(modelItem => item.MaxParticipants)
            </td>
            <td>
                @if (Context.User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new {tournamentId = item.TournamentId});
                } |
                @Html.ActionLink("Details", "Details", new {tournamentId = item.TournamentId}) |
                @if (Context.User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Delete", "Delete", new {tournamentId = item.TournamentId});
                }

            </td>
        </tr>
}
    </tbody>
</table>
